:root {
  --color-white: white;
  --space-default: 15px;
  --radius-default: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-white);
  font-size: 16px;
}

.container-login-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 18px;
}

.container-login-left .login-title {
  text-transform: uppercase;
  font-size: 32px;
}

.container-login-left .login-description {
  color: gray;
  font-size: 16px;
}

.container-login-left input{
  border: transparent;
  padding: 18px 18px 18px 5px;
  background: rgba(240, 237, 255, 0.80);
  width: 100%;
}

.container-login-left input:focus {
  outline: none;
}

.container-login-left .btn-login {
  padding: 20px 30px;
  color: var(--color-white);
  font-weight: bold;
  border: none;
  border-radius: var(--radius-default);
  background: linear-gradient(100deg, #9181F4 -5.85%, #5038ED 109.55%);
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
}
.container-login-left .btn-others {
  border: 1px solid #dcdcdc;
  padding: 20px 40px;
  border-radius: var(--radius-default);
  color: black;
  background-color: var(--color-white);
}

.btn-block {
  width: 100%;
}

/* Utils */

.row-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-icon {
  border: transparent;
  padding: 12px 0px 12px 20px;
  background: rgba(240, 237, 255, 0.80);
  border-top-left-radius: var(--radius-default);
  border-bottom-left-radius: var(--radius-default);
  font-size: 13px;
}

.radius-right {
  border-top-right-radius: var(--radius-default);
  border-bottom-right-radius: var(--radius-default);
}