:root {
  --color-white: white;
  --radius-default: 15px;

  --space-default: 15px;
  --space-large: 18px;
  --space-largex: 20px;

  --font-small: 13px;
  --font-base: 16px;
  --font-large: 32px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-base);
  background-color: var(--color-white);
}

/* Input Components */

.input {
  border: transparent;
  padding: 18px 18px 18px 5px;
  background: rgba(240, 237, 255, 0.80);
  width: 100%;
}
.input:focus {
  outline: none;
}

/* End Input Components */

.container {
  height: 100vh;
}
.container-box {
  flex: 1;
  padding: var(--space-largex) 90px;
}

.container-login-left {
  flex-direction: column;
  text-align: center;
  align-self: center;
  gap: var(--space-large);
  width: 100px;
}

.container-login-left .login-title {
  font-size: var(--font-large);
}

.container-login-left .login-description {
  color: gray;
  font-size: var(--font-base);
}

.container-login-left .btn-login {
  padding: var(--space-largex) 30px;
  color: var(--color-white);
  background: linear-gradient(100deg, #9181F4 -5.85%, #5038ED 109.55%);
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);
}
.container-login-left .btn-others {
  border: 1px solid #dcdcdc;
  padding: var(--space-largex) 40px;
  border-radius: var(--radius-default);
  color: black;
  background-color: var(--color-white);
}

/* == Container Right == */

.container-login-right {
  background-image: url('bg-right.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 412px;
  height: 524px;
  border-radius: 46px;
  border: 1px solid rgba(255, 255, 255, 0.52);
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(6.800000190734863px);
  padding: 26px;
}
.rectangle p {
  color: #FFF;
  font-size: var(--font-large);
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  width: 200px;
}

.rectangle .img-women {
  position: absolute;
  right: -26.5%;
  top: -0.1%;
}

.rectangle .img-ellipse {
  position: absolute;
  left: -9%;
  top: 65%;
}

.rectangle .img-thunderbolt {
  position: absolute;
  left: -4.8%;
  top: 68.5%;
}

/* == Utils == */

.d-flex {
  display: flex;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.font-weight {
  font-weight: bold !important;
}

.radius-default {
  border-radius: var(--radius-default) !important;
}

.no-border {
  border: none;
}

.position-static {
 position: static !important;
}

.btn-block {
  width: 100%;
}

.row-flex {
  justify-content: center;
  align-items: center;
}

.row-icon {
  border: transparent;
  padding: 12px 0px 12px 20px;
  background: rgba(240, 237, 255, 0.80);
  border-top-left-radius: var(--radius-default);
  border-bottom-left-radius: var(--radius-default);
  font-size: var(--font-small);
}

.radius-right {
  border-top-right-radius: var(--radius-default);
  border-bottom-right-radius: var(--radius-default);
}